---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
import Destellos from "../../public/Destelleos.png";
import sodalita from "../../public/soda.jpg";
import CuarzoRosa from "../../public/CuarzoRosa.jpg";
import LGBT from "../../public/lgbt.jpg";
import chackras from "../../public/chackras.jpg";
import protectoraOjo from "../../public/protectoraOjo.jpg";
import protectora from "../../public/protectora.jpg";
import chevron from "../../public/chevron.jpg";
import signos from "../../public/signos.jpg";
import lisas from "../../public/lisas.jpg";
import bi from "../../public/bi.jpg";

// Define las imágenes para cada grupo de botones
const imagenesPorGrupo = {
  1: [
    { nombrePulsera: "Sodalita", precio: "2300", img: sodalita.src },
    // { nombrePulsera: "Amatista", precio: "2300", img: Amatista.src },
    { nombrePulsera: "Cuarzo Rosa", precio: "2300", img: CuarzoRosa.src },
  ],
  2: [
    // {
    //   nombrePulsera: "Una para vos, otra para mi",
    //   precio: "1200",
    //   img: pul7.src,
    // },
    // { nombrePulsera: "Siempre viboras", precio: "1500", img: pul1.src },
  ],
  3: [
    { nombrePulsera: "Signos", precio: "1200", img: signos.src },
    { nombrePulsera: "LGBT+", precio: "1000", img: LGBT.src },
    { nombrePulsera: "7 Chackras", precio: "2000", img: chackras.src },
    { nombrePulsera: "Protectora", precio: "1000", img: protectora.src },
    {
      nombrePulsera: "Protectora con ojo turco",
      precio: "1500",
      img: protectoraOjo.src,
    },
  ],
  4: [
    { nombrePulsera: "Chevron", precio: "1800", img: chevron.src },
    { nombrePulsera: "Lisa", precio: "1200", img: lisas.src },
    { nombrePulsera: "Bi", precio: "1000", img: bi.src },
  ],
};

const btns = [
  { id: 1, nombre: "Pulseras con Piedras" },
  // { id: 2, nombre: "Pulseras para Compartir" },
  { id: 3, nombre: "Pulseras Tematicas" },
  { id: 4, nombre: "Pulseras Basicas" },
  // { id: 5, nombre: "Pulseras en Promo" },
];
---

<Layout title="Lista de Precios - Martesanias">
  <main>
    <h1 id="mes">Lista de precios - 2024</h1>
    <h2>Variedad de colores y diseños. Consulta nuestra selección.</h2>

    {
      btns.map((btn) => (
        <>
          <p class="btn" id={`btn-${btn.id}`}>
            <img src={Destellos.src} alt="Destellos" />
            {btn.nombre}
          </p>
          <div class="slider-container" id={`slider-${btn.id}`}>
            <Slider imagenes={imagenesPorGrupo[btn.id]} />
          </div>
        </>
      ))
    }
    <a
      class="btn__pedido"
      href="https://api.whatsapp.com/send?phone=5492346539622&text=Hola%2C%20quisiera%20hacer%20mi%20pedido%20de%20%E2%9C%A8mar.tesanias%E2%9C%A8"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="des" src={Destellos.src} alt="Destellos" />

      Quisiera hacer mi pedido
    </a>
  </main>
</Layout>

<style lang="scss">
  $mar: (
    1: #f8ebf3,
    2: #f3d7e9,
    3: #dc8aba,
    4: #cd679f,
    5: #9f3768,
    sombra: #cd679f7e,
  );

  @function mar($shade) {
    @return map-get($mar, $shade);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }

    h2 {
      max-width: 300px;
      font-size: 16px;
      text-align: center;
      color: mar(1);
    }
    .btn {
      position: relative;
      text-align: center;
      width: 70%;
      border-radius: 8px;
      background-color: mar(2);
      padding: 10px 5px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 14px 30px 0 mar(sombra);

      img {
        position: absolute;
        top: -40%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        right: 50%;
      }
    }

    .slider-container {
      background-color: mar(2);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition:
        max-height 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
      opacity: 0;
    }
    .active {
      max-height: 1000px;
      opacity: 1;
    }
  }

  a {
    margin-top: 20px;
    text-decoration: none;
    color: mar(5);
    background-color: mar(1);
    padding: 7px 5px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 14px 30px 0 mar(sombra);

    .des {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -40%;
      left: -7%;
    }
  }
</style>

<script>
  const meses = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];

  const mesActual = meses[new Date().getMonth()];
  const txtMes = document.getElementById("mes");

  txtMes.textContent = `Lista de precios - ${mesActual} 2024`;

  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        const id = this.id.split("-")[1];
        const slider = document.getElementById(`slider-${id}`);
        slider.classList.toggle("active");
      });
    });
  });
</script>
