---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
import Destellos from "../../public/Destelleos.png";
import sodalita from "../../public/soda.webp";
import Amatista from "../../public/Amatista.webp";
import CuarzoRosa from "../../public/CuarzoRosa.webp";

// Define las imágenes para cada grupo de botones
const imagenesPorGrupo = {
  1: [
    { nombrePulsera: "Sodalita", precio: "1000", img: sodalita.src },
    { nombrePulsera: "Amatista", precio: "1000", img: Amatista.src },
    { nombrePulsera: "Cuarzo Rosa", precio: "1000", img: CuarzoRosa.src },
  ],
  2: [
    { nombrePulsera: "Pulsera Compartir 1", precio: "1500", img: sodalita.src },
  ],
  3: [
    { nombrePulsera: "Pulsera Tematica 1", precio: "1200", img: sodalita.src },
    // Añade más imágenes aquí
  ],
  4: [
    { nombrePulsera: "Pulsera Basica 1", precio: "800", img: sodalita.src },
    // Añade más imágenes aquí
  ],
  5: [
    { nombrePulsera: "Pulsera Promo 1", precio: "500", img: sodalita.src },
    // Añade más imágenes aquí
  ],
};

const btns = [
  { id: 1, nombre: "Pulseras con Piedras" },
  { id: 2, nombre: "Pulseras para Compartir" },
  { id: 3, nombre: "Pulseras Tematicas" },
  { id: 4, nombre: "Pulseras Basicas" },
  { id: 5, nombre: "Pulseras en Promo" },
];
---

<Layout title="Lista de Precios - Martesanias">
  <main>
    <h1>Lista de precios - julio 2024</h1>

    {
      btns.map((btn) => (
        <>
          <p class="btn" id={`btn-${btn.id}`}>
            <img src={Destellos.src} alt="Destellos" />
            {btn.nombre}
          </p>
          <div
            class="slider-container"
            id={`slider-${btn.id}`}
            style="display: none;"
          >
            <Slider imagenes={imagenesPorGrupo[btn.id]} />
          </div>
        </>
      ))
    }
    <a
      class="btn__pedido"
      href="https://api.whatsapp.com/send?phone=5492346539622&text=Hola%2C%20quisiera%20hacer%20mi%20pedido%20de%20%E2%9C%A8mar.tesanias%E2%9C%A8"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="des" src={Destellos.src} alt="Destellos" />

      Quisiera hacer mi pedido
    </a>
  </main>
</Layout>

<style lang="scss">
  $mar: (
    1: #f8ebf3,
    2: #f3d7e9,
    3: #dc8aba,
    4: #cd679f,
    5: #9f3768,
  );

  @function mar($shade) {
    @return map-get($mar, $shade);
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      margin-top: 10px;
      font-size: 24px;
    }

    .btn {
      position: relative;
      text-align: center;
      width: 70%;
      border-radius: 8px;
      background-color: mar(2);
      padding: 10px 5px;
      font-weight: bold;
      cursor: pointer;

      img {
        position: absolute;
        top: -40%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        right: 50%;
      }
    }

    .slider-container {
      background-color: mar(2);
      width: 100%;
    }
  }
  a {
    margin-top: 20px;
    text-decoration: none;
    color: mar(5);
    background-color: mar(1);
    padding: 7px 5px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;

    .des{
position: absolute;
width: 30px;
height: 30px;
top: -30%;
left: -7%;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        const id = this.id.split("-")[1];
        const slider = document.getElementById(`slider-${id}`);
        slider.style.display =
          slider.style.display === "none" ? "block" : "none";
      });
    });
  });
</script>
